/* Uncomment the following styles if needed for .search-bar and .row */
/*
.search-bar {
  border: 1px solid;
  padding: 15px;
}

.row {
  justify-content: center;
  margin-top: 30px;
}
*/
/* Global styles for the entire body */
body {
  font-family: "Heebo", sans-serif; /* Use the desired font from Google Fonts */
}

/* Header styles */
header {
  background-color: #f8f9fa;
  color: #212529;
  padding: 15px 0;
}

/* Additional styling for header elements within a row */
header .row {
  margin-bottom: 15px;
}

/* Styling for the logo within the header */
header .logo {
  max-width: 200px;
}

/* Label text color for the input within the search bar */
header .form-label {
  color: #212529;
}

/* Styles for the search bar */
header .search-bar {
  position: relative;
}

/* Positioning for icons within the search bar */
header .search-bar i {
  position: absolute;
  left: 25px;
  bottom: 5px;
}

/* Padding for the destination input to accommodate the icon */
header .destination {
  padding-left: 40px;
}

header .dateRange {
  cursor: pointer;
}

/* Styling for the search button */
header .search-button {
  width: 100%;
}

/* Custom styles for the place section */
.place-section {
  padding: 50px 0;
}

.places {
  padding: 0 15px;
}

.top-places-visit {
  margin-bottom: 30px;
}

/* Weather forecast style */
.fs-5-card {
  color: white !important;
  height: 15rem;
  padding: 5px;
  border: none;
}

.card-forecast {
  background: linear-gradient(to bottom, #0e0f12, #032897, #183693);
}

.card-forecast .list-group-item {
  background-color: transparent;
}
.footer {
  padding: 25px 0;
}
.card-forecast {
  margin-bottom: 10px;
}
/* Responsive adjustments for small screens */
@media (max-width: 992px) {
  .card-wrap {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

/* Responsive adjustments for small screens */
@media (max-width: 767px) {
  header .row {
    margin-bottom: 10px;
  }

  header .search-button-wrap {
    padding-top: 1.5rem;
  }

  header .search-button {
    width: 100%;
  }

  #google-map {
    height: 100%
  }
 
  .places {
    width: 100%;
    margin-bottom: 20px;
  }
}
